.underlined-title{    
    overflow: hidden;
    h4 {
        font-weight: bolder;
    }
    .line{
        height: 0px;
        border-bottom: 1px solid;
        width: 80%;
        margin-bottom: 15px;
    }
}