@import '../../SCSSmodules/color';
/*
    Refer to /SCSSmodules/_color.scss for color
*/
.authorizing-page{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    &_background{
        display:inherit;
        background-color: color("authorizing-background");
        opacity: 0.5;
        height: 100vh;
        width:100vw;
        z-index: inherit;
        position: fixed;
    }
    &_form{
        display: inherit;
        z-index: inherit;
        height: auto;
        width: inherit;
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: color("authorizing-form");
        transform: translate(-50%, -50%);
        padding:100px;
    }
    &--hide{
        height: 0vh;
        display: none;
    }
};