/*  
    This file contains the definition of all color theme used in the app
    TO USE:
    @import '<path to this file>/color';
    [selector]{
        property: theme(name)
    }
    EXAMPLE:
    @import '../SCSSmodules/color';
    div{
        background: color(navbar)
    }

*/
$-color:(
    "authorizing-background":grey,
    "authorizing-form":white
);
@function color($name){
    @return map-get($-color,$name);
}
